body {
  background-color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.inky-root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.inky-interface {
  background-color: #ffaa00;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 31.25%;
}

.inky-canvas {
  height: 100%;
  left: 31.25%;
  position: absolute;
  top: 0;
  width: 68.75%;
}

.inky-canvas canvas {
  margin: auto;
}

.inky-interface--station {
  display: none;
}

.inky-interface--station.active {
  display: block;
}

.inky-interface--rack {

}
