body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.inky-root {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.inky-root .inky-interface {
  background-color: #ffaa00;
  flex: 0.3125 0 auto;
}

.inky-root .inky-canvas {
  flex: 1 1 auto;
}

.inky-root .inky-canvas canvas {
  margin: auto;
}
